@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: azure; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bs1{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

h1{
  font-size: 30px;
  font-weight: bold;
  color: orangered;
}

p{
  margin: 5px !important;
  text-align: left;
  padding: 0;
}



.btn1{
  box-shadow: none !important;
  background-color: white !important;
  color: orangered !important;
  border: 1px solid orangered !important;
  padding: 5px 15px !important;
  outline: none !important;

}

.btn1:focus {
  border: none;
}

button{
  /* padding: 5px 10px !important; */
}

.header {
  padding: 10px;
  /* background-color: azure; */
}

.content {
  min-height: 0vh;
  /* background-color: azure; */
}

/* ### - Just for UI purpose */

.car{
  border-radius: 5px;
  margin-top: 100px;
  height: 160px;
  transition: 0.3s;

}

.car:hover{
  height: 220px;
}

.car:hover > .car-content{

  opacity: 1;
  transform: translateY(-40px);

}

.carimg {
  height: 180px;
  width: auto;
  border-radius: 5px;
  transform: translateY(-50px);
}

.car-content{
  transform: translateY(-200px);
  opacity: 0;
  /* transition: 0.1s; */
}

.login{
  background-color: black;
  min-height: 100vh;
  padding-top: 50px;
}

.login label, .login h1 {
  color: white !important;
  opacity: 0.8;
  position: absolute;
}

.login-form {
  background-color: #1F1F1F;
}

.login-form input{
  background-color: #333333 !important;
  border: none !important;
  color: white;
  /* opacity: 0.5; */
}

.login-logo{
  position: absolute;
  left: 0;
  right: 0;
  top: 65%;
  bottom: 50%;
  transform: translateY(-50%, -50%);
  /* font-size: 40px; */
  opacity: 0.5 !important;
  border-bottom: 1pc;
}


.login a{
  color: white !important;
  opacity: 0.5;
}